In [15]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kagantimur/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
amz = pd.read_excel('Amazon.xlsx')

In [3]:
amz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38192 entries, 0 to 38191
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            38192 non-null  datetime64[ns]
 1   Tweet content   38192 non-null  object
 2   Tweet language  38192 non-null  object
 3   Is a RT         38192 non-null  bool
 4   Company Name    38192 non-null  object
dtypes: bool(1), datetime64[ns](1), object(3)
memory usage: 1.2+ MB

In [12]:
amz.astype({'Tweet content': 'string', 'Tweet language': 'string', 'Company Name': 'string'}).dtypes

Date              datetime64[ns]
Tweet content     string[python]
Tweet language    string[python]
Is a RT                     bool
Company Name      string[python]
dtype: object

In [16]:
def preprocess_tweet(tweet):
    # Remove URLs
    tweet = re.sub(r'http\S+|www\S+|https\S+', '', tweet)

    # Remove user mentions
    tweet = re.sub(r'@[^\s]+', '', tweet)

    # Remove special characters and punctuation
    tweet = re.sub(r'[^a-zA-Z\s]', '', tweet)

    # Tokenization
    words = nltk.word_tokenize(tweet)

    # Removing stopwords
    clean_words = [word for word in words if word.lower() not in stopwords.words('english')]

    return ' '.join(clean_words)

amz['clean_tweet'] = amz['Tweet content'].apply(preprocess_tweet)

amz.head()

,Date,Tweet content,Tweet language,Is a RT,Company Name,clean_tweet
0,2016-06-15 09:45:00,Try the discovery engine &amp; social network ...,en,False,Amazon,Try discovery engine amp social network invest...
1,2016-06-15 09:35:00,"Andreas Halvorsen Buys Facebook, Amazon, Maste...",en,False,Amazon,Andreas Halvorsen Buys Facebook Amazon MasterC...
2,2016-06-15 09:26:00,RT @MarketsRecap: These 3 Stocks Will Surprise...,en,True,Amazon,RT Stocks Surprise Investors Earnings Season A...
3,2016-06-15 09:21:00,"OnePlus 3 launched at a price of Rs 27,999; av...",en,False,Amazon,OnePlus launched price Rs available Amazon Rea...
4,2016-06-15 08:53:00,Ocado shares plummet as #Amazon Fresh launches...,en,False,Amazon,Ocado shares plummet Amazon Fresh launches Rea...